<html>
<head>



</head>
<body>
    <center>
        <table border="1" width="800">
            <tr>
            <td colspan="2" align="center" bgcolor="purple"style="color:whitesmoke">Academic Qualifications</td><td align="center" bgcolor="purple"style="color:whitesmoke">Year Award</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" width=“200”>Bachelor of Social Sciences</td><td>City University of Hong Kong</td><td>2018</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="purple"style="color:whitesmoke">First Class Honours</td> 
            </tr>
            <tr>
            <td rowspan="2" align="center" width=“200”>Master of Arts</td><td>The Chinese University of Hong Kong</td><td>2019</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="purple"style="color:whitesmoke">Distinction</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" width=“200”>Postgraduate Diploma in Education (Primary)</td><td>The Education University of Hong Kong</td><td>2021</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="purple" style="color:whitesmoke">Credit</td>
            
            </table>

    </center>

</body>
</html>